
Knight.API/obj/Debug/net8.0/apphost.exe
Knight.API/obj/Debug/net8.0/Knight.API.AssemblyInfo.cs
Knight.API/obj/Debug/net8.0/Knight.API.AssemblyInfoInputs.cache
Knight.API/obj/Debug/net8.0/Knight.API.assets.cache
Knight.API/obj/Debug/net8.0/Knight.API.csproj.CoreCompileInputs.cache
Knight.API/obj/Debug/net8.0/Knight.API.csproj.FileListAbsolute.txt
Knight.API/obj/Debug/net8.0/Knight.API.dll
Knight.API/obj/Debug/net8.0/Knight.API.GeneratedMSBuildEditorConfig.editorconfig
Knight.API/obj/Debug/net8.0/Knight.API.genruntimeconfig.cache
Knight.API/obj/Debug/net8.0/Knight.API.pdb
Knight.API/obj/Debug/net8.0/Knight.API.sourcelink.json
Knight.API/obj/Debug/net8.0/ref/Knight.API.dll
Knight.API/obj/Debug/net8.0/refint/Knight.API.dll
Knight.API/obj/Debug/net8.0/apphost.exe
Knight.API/obj/Debug/net8.0/Knight.API.AssemblyInfo.cs
Knight.API/obj/Debug/net8.0/Knight.API.AssemblyInfoInputs.cache
Knight.API/obj/Debug/net8.0/Knight.API.assets.cache
Knight.API/obj/Debug/net8.0/Knight.API.csproj.CoreCompileInputs.cache
Knight.API/obj/Debug/net8.0/Knight.API.csproj.FileListAbsolute.txt
Knight.API/obj/Debug/net8.0/Knight.API.dll
Knight.API/obj/Debug/net8.0/Knight.API.GeneratedMSBuildEditorConfig.editorconfig
Knight.API/obj/Debug/net8.0/Knight.API.genruntimeconfig.cache
Knight.API/obj/Debug/net8.0/Knight.API.pdb
Knight.API/obj/Debug/net8.0/ref/Knight.API.dll
Knight.API/obj/Debug/net8.0/refint/Knight.API.dll
.vs/Knight/config/applicationhost.config
.vs/Knight/FileContentIndex/f97a0df6-bb16-4e7c-b152-a1f9e8365e5a.vsidx
.vs/Knight/v17/.suo
.vs/Knight/v17/DocumentLayout.json
Knight.API/bin/Debug/net8.0/Knight.API.dll
Knight.API/bin/Debug/net8.0/Knight.API.exe
Knight.API/bin/Debug/net8.0/Knight.API.pdb
